
.expand-bar {
  --hover-colour: auto;
}

.expand-button {
  padding: 10px;
  border-radius: 3px;
  font-weight: 600;
  margin-top: 10px;
}

.expand-button:hover {
  background-color: var(--hover-colour);
}

.task.LOW .expand-bar {
  --hover-colour: #d7d313;
}

.task.MEDIUM .expand-bar {
  --hover-colour: #ff8e21;
}

.task.HIGH .expand-bar {
  --hover-colour: #FF6046;
}

.expand-contents {
  margin-top: 6px;
  padding: 4px;
  border-top: 3px var(--hover-colour) dashed;
  text-align: justify;
}
